#
# Loguru logging level (ERROR, WARNING, INFO, DEBUG, TRACE)
#
log_level: INFO

#
# Database URL
#
db_url: sqlite:///fileglancer.db

#
# Confluence URL
#
confluence_url: https://wikis.janelia.org 

#
# JIRA URL
#
jira_url: https://issues.hhmi.org/issues

